<h1>User info books_index</h1>

<%= render 'template', user: @user, book: @book %>


<h1>Books</h1>

<table class="books">
  <% if @user.image.attached? %>
    <%= image_tag @user.image, size: "100x100" %>
  <% else %>
    <%= image_tag 'no-image', size: "100x100" %>
  <% end %>
  
  <h3>Title</h3>
  <h3>Opinion</h3>
<% @books.each do |book| %>

  <span><%= book.title %></span>
  
  <span><%= book.body %></span>
  
<% end %>

</table>